body{
    background: #333333;
}
.jumbotron {
   background-image: url('https://lelandswallpaper.com/wp-content/uploads/2017/05/DY0270-York-Wallcoverings-Disney-Kids-3-Marvel-Comics-Wallpaper-Black.jpg');
}

h1 {
    text-align: center;
    font-family: 'Sigmar One', cursive;
    color: #FF0000;
}

p {
    text-align: center;
    font-family: 'Londrina Solid', cursive;
    color: #7B7D7D;
    font-size:30px;
    background: #17202A
}

h3 {
    font-family: 'Londrina Solid', cursive;
    color: #7B7D7D;
    font-size: 20px;
}
